.footer {
    position: fixed;
    bottom: 0px;
    background-color: #0E1C44;
    width: 100vw;
    height: 70px;
    padding: 5px;
    &__iconWrapper {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        margin: auto;
        img{
            margin-inline: 10px;
            height: 40px;
        }
    }
    h2{
        text-align: center;
        margin: 0px;
        color: #FFF;
    }
}