.header {
    background-color: #0E1C44;
    width: 100vw;
    height: 80px;
    color: #FFF;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        max-width: 800px;
        margin: auto;
    }
}